<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<title>Nicolai Robles - Full Stack Engineer + Designer </title>
	<meta name="description" content="" />
	<meta name="author" content="" />
	<link rel="icon" href="http://nicolairobles.com/images/favicon.ico?v=2"/>
	<description>Nicolai Robles - Full Stack Engineer + Designer</description>
	<link rel="stylesheet" href="css/meta.css" type="text/css" media="screen"/>
</head>

<!-- 	<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" media="screen"/>
	<link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" media="screen"/>
	<link rel="stylesheet" href="css/animate.min.css" type="text/css" media="screen"/>
	<link rel="stylesheet" href="css/style.min.css" type="text/css" media="screen"/>	 -->

<body>


