	<div class="inline-menu-container hidex">
		<ul class="inline-menu">
			<li class="portfolio menu-item" style="text-transform: uppercase">Portfolio</li>		
			<li class="resume menu-item" style="text-transform: uppercase"><!-- <a class="resume-nav" href="/resume" target="_blank">Resume</a> -->Resume</li>
			<li class="contact menu-item" style="text-transform: uppercase">Contact</li>
			<li id="close">&times;</li>
		</ul>
	</div>

<section class="bg-image">
	
</section>


<section class="home">

		<div id="wrapper">
		<section id="lander" class="container">




		  <div class="landerWrapper">
		  	<h2 class="title">Full Stack Engineer + Designer</h2>
		  	<h1><span class="nicolai">Nicolai</span> <span class="robles">Robles</span></h1>

		  	<h2 class="portfolio menu-item" style="text-transform: lowercase;"><a class="portfolio">Portfolio</a></h2>
		  	<h2 class="resume menu-item" style="text-transform: lowercase;"><a class="resume">Resume</a></h2>
		  	<h2 class="contact menu-item" style="text-transform: lowercase;"><a class="contact">Contact</a></h2>
		  	<!-- <h2 class="contact menu-item" style="text-transform: lowercase;"><a>Contact</a></h2> -->
		  	<style type="text/css">
		  		a{
				    -webkit-transition: all 0.7s ease;
				    -moz-transition: all 0.7s ease;
				    -o-transition: all 0.7s ease;
				    transition: all 0.7s ease;
		  			padding-bottom: 7px;
		  		}
		  		a:hover{
		  			border-bottom: 1px solid white;
		  		}
		  	</style>

		  </div>
		</section>

	</div>