		<div class="content-blocks portfolio hidex"> 
										
			<section class="content">
				
				<div class="block-content">
					<h3 class="block-title">Portfolio</h3>


					<div class="row">
						<div class="col-md-12">
							<ul id="filters">
							  <!-- <li class="active" data-filter="*">All</li> -->
							  <li class="active" data-filter=".featured">Featured</li>
							  <li data-filter=".back-end">Back-End</li>
							  <li data-filter=".graphic">Front-End + Design</li>
							  <li data-filter=".apis">APIs</li>
							  <li data-filter=".game">Games</li>
							</ul>
							<div id="projects">
<!-- Beat The Machine -->
								<div class="project game featured graphic">
									<a class="open-project" href="/beat-the-machine-project">
										<div class="project-overlay">
											<div class="vcenter">
												<div class="centrize">
													<h4>Beat The Machine</h4>                
													<p  class="project-subtitle">AI-Powered Tic Tac Toe</p>
												</div>
											</div>
										</div>
									</a>
									<img src="images/portfolio/beat-the-machine-demo.gif" alt="">
								  </div>

<!-- Emotize -->
								   <div class="project featured back-end apis">
									<a class="open-project" href="/emotize-project">
										<div class="project-overlay">
											<div class="vcenter">
												<div class="centrize">
													<h4>Emotize</h4>                        
													<p class="project-subtitle">Level Up Your Speaking </p>
												</div>
											</div>
										</div>
									</a>
									<img src="images/portfolio/emotize-intro.png" alt="">
								  </div>

<!-- Chorus -->
								  <div class="project graphic featured">
									<a class="open-project" href="/chorus-project">
										<div class="project-overlay">
											<div class="vcenter">
												<div class="centrize">
													<h4>Chorus</h4>                
													<p class="project-subtitle">Crowdsource Power</p>                
												</div>
											</div>
										</div>
									</a>
									<img src="images/portfolio/chorus.gif" alt="">
								  </div>

<!-- Emergency Compliment -->
								  <div class="project graphic">
									<a class="open-project" href="/emergency-compliment-project">
										<div class="project-overlay">
											<div class="vcenter">
												<div class="centrize">
													<h4>Emergency Compliment</h4>                
													<p class="project-subtitle">Compliment Generator</p>                
												</div>
											</div>
										</div>
									</a>
									<img src="images/portfolio/compliment-generator/compliment.gif" alt="">
								  </div>

							 

							</div>
						</div>	
					</div>
					
				</div>
			
			</section>
		</div>



		
	</div>			
</section>