<!-- Resume -->
		<div class="content-blocks resume hidex"> 
										
			<section class="content">
				
				<div class="block-content">
					<h3 class="block-title">Resume</h3>


					<div class="row">
						<div class="col-md-12">
						<div id="projects" class="embed-responsive" style='padding-bottom:130%'>
							
							<embed src="documents/Nicolai_Robles_Resume.pdf" width="80%" height="715px" type='application/pdf'>
						</div>
						</div>

					</div>

				</div>
					
			</section>
		</div>