<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<title>Nicolai Robles - Full Stack Engineer + Designer </title>
	<meta name="description" content="" />
	<meta name="author" content="" />
	<link rel="icon" href="images/favicon.ico"/>

	<!-- <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'/> -->
	<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" media="screen"/>
	<link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" media="screen"/>
	<link rel="stylesheet" href="css/animate.css" type="text/css" media="screen"/>
	<link rel="stylesheet" href="css/style.css" type="text/css" media="screen"/>

</head>
<body>

<!-- 	<div class="preloader">
			<div class="spinner"><strong>Loading...<i class="fa-li fa fa-spinner fa-spin"></i></strong></div>
	</div>
	<div class="preloader-left"></div>
	<div class="preloader-right"></div> -->

	<div class="inline-menu-container hidex">
		<ul class="inline-menu">
			<li class="portfolio menu-item" style="text-transform: uppercase">Portfolio</li>		
			<li class="resume" style="text-transform: uppercase"><a class="resume-nav" href="/resume" target="_blank">Resume</a></li>
			<li class="contact menu-item" style="text-transform: uppercase">Contact</li>
			<li id="close">&times;</li>
		</ul>
	</div>


<section class="bg-image">
	
</section>


<section class="home">

		<div id="wrapper">
		<section id="lander" class="container">




		  <div class="landerWrapper">
		  	<h2 class="title">Full Stack Engineer + Designer</h2>
		  	<h1><span class="nicolai">Nicolai</span> <span class="robles">Robles</span></h1>

		  	<h2 class="portfolio menu-item" style="text-transform: lowercase;"><a class="portfolio">Portfolio</a></h2>
		  	<h2 class="resume" style="text-transform: lowercase;"><a class="resume" target="_blank" href="/resume">Resume</a></h2>
		  	<!-- <h2 class="contact menu-item" style="text-transform: lowercase;"><a>Contact</a></h2> -->
		  	<style type="text/css">
		  		a{
				    -webkit-transition: all 0.7s ease;
				    -moz-transition: all 0.7s ease;
				    -o-transition: all 0.7s ease;
				    transition: all 0.7s ease;
		  			padding-bottom: 7px;
		  		}
		  		a:hover{
		  			border-bottom: 1px solid white;
		  		}
		  	</style>

		  </div>

<!-- 		  	
		  	<div class="menu-blocks">
					<div class="portfolio-block">
						<div class="portfolio-block-container">			
							<h2 class="portfolio menu-item">Portfolio</h2>
						</div>
					</div>

					<div class="contact-block"> 
						<div class="contact-block-container">			
							<h2 class="contact menu-item">Contact</h2>
						</div>		
					</div>
				</div> -->

		</section>

	</div>


  <!-- <div class="container"> -->
		<!-- <div class="name-block"> -->
<!-- 			<div class="name-block-container">
				<h1>Nicolai Robles</h1>
        <h2>Full Stack Engineer + Designer</h2>

				<a href="/resume" class="btn btn-download">Download Resume</a>
         <ul class="social">
					<li><a href="http://www.github.com/nicolairobles"><i class="fa fa-github"></i></a></li>
					<li><a href="http://www.linkedin.com/in/nicolairobles"><i class="fa fa-linkedin"></i></a></li>
		     </ul>
			</div> -->
		<!-- </div> -->
	
		
		

		<div class="content-blocks portfolio hidex"> 
										
			<section class="content">
				
				<div class="block-content">
					<h3 class="block-title">Portfolio</h3>
					<div class="row">
						<div class="col-md-12">
							<ul id="filters">
							  <li class="active" data-filter="*">All</li>
							  <li data-filter=".web">Web</li>
							  <li data-filter=".graphic">Design</li>
							  <li data-filter=".game">Games</li>
							  <!-- <li data-filter=".apps">Apps</li> -->
							</ul>
							<div id="projects">

								<div class="project game web graphic">
									<a class="open-project" href="/beat-the-machine-project">
										<div class="project-overlay">
											<div class="vcenter">
												<div class="centrize">
													<h4>Beat The Machine</h4>                
													<p  class="project-subtitle">AI Tic Tac Toe</p>
												</div>
											</div>
										</div>
									</a>
									<img src="images/portfolio/output.gif" alt="">
								  </div>


								   <div class="project web">
									<a class="open-project" href="/emotize-project">
										<div class="project-overlay">
											<div class="vcenter">
												<div class="centrize">
													<h4>Emotize</h4>                        
													<p class="project-subtitle">Level Up Your Speaking </p>
												</div>
											</div>
										</div>
									</a>
									<img src="images/portfolio/emotize-intro.png" alt="">
								  </div>
								  

								  <div class="project graphic apps">
									<a class="open-project" href="/chorus-project">
										<div class="project-overlay">
											<div class="vcenter">
												<div class="centrize">
													<h4>Chorus</h4>                
													<p class="project-subtitle">Crowdsource Power</p>                
												</div>
											</div>
										</div>
									</a>
									<img src="images/portfolio/output2.gif" alt="">
								  </div>

							 

							</div>
						</div>	
					</div>
					
				</div>
			
			</section>
		</div>






		<div class="content-blocks contact hidex"> 
										
			<section class="content"> 
				<div class="block-content">
					<h3 class="block-title">Contact</h3>
					<div class="row">
						<div class="col-md-12">

							<div class="contact-content ">
<!-- 								<div class="contact-icon">
									<i class="fa fa-envelope"></i>
								</div> -->
								<div class="contact-details">
									<!-- <h5>Email</h5> -->
									<p>nicolai.robles@gmail.com</p>
								</div>
							</div>

							<div class="contact-content ">
<!-- 								<div class="contact-icon">
									<i class="fa fa-phone"></i>
								</div> -->
								<div class="contact-details">
									<!-- <h5>Call Me</h5> -->
									<p> 201-245-3735</p>
								</div>
							</div>	

							<div class="contact-content ">
								<div class="contact-details">
									<p> <a class="fa fa-github" target="_blank" href="http://www.github.com/nicolairobles"> nicolairobles</a></p>
								</div>
							</div>

							<div class="contact-content ">
								<div class="contact-details">
									<p> <a class="fa fa-linkedin" target="_blank" href="http://www.linkedin.com/in/nicolairobles"> nicolairobles</a></p>
								</div>
							</div>

<!-- 							<div class="contact-content ">
								<div class="contact-details">
									<p> <a class="fa fa-linkedin" href="http://www.linkedin.com/in/nicolairobles" ""> nicolairobles</a></p>
								</div>
							</div> -->

							
						</div>
<!-- 						<div class="col-md-6">
								<form method="POST" action="php/contact_me.php" id="formcontactus" class="" >
								  <div class="form-group">		  
									<input name="name" type="text" class="form-control requiretop" placeholder="* Your Name" />								 							 
								  </div>
								  <div class="form-group">				  
									<input name="email" type="email" class="form-control requiretop" placeholder="* Your Email" />			 
								  </div>
								  <div class="form-group">				  
									<textarea rows="6" name="message" class="form-control requiretop" placeholder="* Your Message"></textarea>			 
								  </div>
								  <div class="form-group">
									<button type="submit" class="btn btn-dark selected">Send Message</button>
								  </div>    
								</form>
						</div> -->
					</div>  
					
				</div>	 				
			</section>
		</div>		


		
	</div>			
</section>



<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="js/jquery.placeholder.min.js"></script>
<script type="text/javascript" src="js/contact_me.js"></script>
<script type="text/javascript" src="js/smooth-scroll.js"></script>
<script type="text/javascript" src="js/main.js"></script>
 </body>
</html>