<!DOCTYPE html>
 <html class="no-js" lang="en"> 
<head>
	<meta charset="utf-8">

	<title>Nicolai Robles - Full Stack Web Developer</title>

	<meta name="author" content="Nicolai Robles">
	<meta name="description" content="Nicolai Robles - Full Stack Web Developer">
	<meta name="robots" content="index, follow">

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

	<meta name="google-site-verification" content="SudXMYJfXF0JVgISHU8We6Fett-FvBTNqc_GZNsXuBk" />
	<meta property="og:title" content="Showreel Nicolai Robles" />
	<meta property="og:site_name" content="Nicolai Robles - Full Stack Web Developer" />
	<meta property="og:description" content="Nicolai Robles - Full Stack Web Developer" />
	<!-- <meta property="og:image" content="http://nicolairobles.com/images/manuel_rueda_video_freelancer.jpg" />  -->
	<meta property="og:url" content="http://www.nicolairobles.com" />

	<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
	<link rel="apple-touch-icon-precomposed" href="/images/apple-touch-icon-precomposed.png" />

	<link href='home.css' rel='stylesheet' type='text/css'>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/jquery-1.7.2.min.js"><\/script>')</script>
	<script src="plugins.js"></script>
	<script src="home.js"></script>

</head>

<body>

<!--[if lt IE 8]>
	<p class="browsehappy">You are using an outdated browser. <br>Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div id="wrapper">

	
	<section id="lander" class="container">
	  
	  <div class="landerWrapper">
	  	<h2>Full Stack Web Developer</h2>
	  	<h1><span class="nicolai">Nicolai</span> <span class="robles">Robles</span></h1>
	  </div>
	  
	</section>
	  	
<!--First Post  -->
	<section id="post1" class="container full inView">
	  
	  <div class="contentWrapper">	  	
	  	
	  	<div class="reelHead">
	  		<h3>Projects</h3>
	  	</div>
	  	
	  	<div class="video showReel">
	  		<a href="https://vimeo.com/153217022" data-video="153217022">	
	  			
					
			<span data-picture data-alt="showreel">
			  		    	
			  <span data-src="images/tictactoe.png"></span>
			  <span data-src="images/tictactoe.png" data-media="(min-device-pixel-ratio : 1.5),(-webkit-min-device-pixel-ratio : 1.5)"></span>
			  
			  <span data-src="images/460/1x/showreel_manuel-rueda_dop_director.jpg" data-media="(min-width:480px)"></span>					
			  <span data-src="images/460/2x/showreel_manuel-rueda_dop_director.jpg" data-media="(min-width:480px) and (min-device-pixel-ratio : 1.5),(min-width:480px) and (-webkit-min-device-pixel-ratio : 1.5)"></span>
			  
			  <span data-src="images/676/1x/showreel_manuel-rueda_dop_director.jpg" data-media="(min-width:760px)"></span>					
			  <span data-src="images/676/2x/showreel_manuel-rueda_dop_director.jpg" data-media="(min-width:760px) and (min-device-pixel-ratio : 1.5),(min-width:760px) and (-webkit-min-device-pixel-ratio : 1.5)"></span>
			  
			  <span data-src="images/842/1x/showreel_manuel-rueda_dop_director.jpg" data-media="(min-width:1020px)"></span>					
			  <span data-src="images/842/2x/showreel_manuel-rueda_dop_director.jpg" data-media="(min-width:1020px) and (min-device-pixel-ratio : 1.5),(min-width:1020px) and (-webkit-min-device-pixel-ratio : 1.5)"></span>
			  
			  <span data-src="images/1136/1x/showreel_manuel-rueda_dop_director.jpg" data-media="(min-width:1400px)"></span>						
			  					
			  					
			  <!--[if (lt IE 9) & (!IEMobile)]>
			  	<span data-src="images/842/1x/showreel_manuel-rueda_dop_director.jpg"></span>
			  <![endif]-->  
			  
			  <noscript>
			    <img src="images/284/1x/showreel_manuel-rueda_dop_director.jpg" alt="showreel" class="previewImg">
			  </noscript>							  
			
			</span>
											
			<span class="playButton"><span class="playButtonArrow"></span></span>	
			  		</a>
  	</div>	

	  	<div class="hWrapper">	
	  		<div class="buttonWrapper">
	  			<a href="#about" class="button scrollButton"><span class="buttonContent">CV & Contact	</span><span class="buttonFrame"></span></a>
	  			<a href="#post2" class="button scrollButton"><span class="buttonContent">Projects			</span><span class="buttonFrame"></span></a>					
	  		</div>
	  	</div>
	  </div>
	  
	</section>
<!--First Post  -->


<!-- Second Post -->
	<section id="post2" class="container postContainer full">
			
		<div class="contentWrapper">
			<div class="video">
					
				<a href="https://vimeo.com/93359498" data-video="93359498">
					
				<span data-picture data-alt="Uni Siegen">
														  		    	
				  <span data-src="images/284/1x/manuel_rueda_uni_siegen.jpg"></span>
				  <span data-src="images/284/2x/manuel_rueda_uni_siegen.jpg" data-media="(min-device-pixel-ratio : 1.5),(-webkit-min-device-pixel-ratio : 1.5)"></span>
				  
				  <span data-src="images/460/1x/manuel_rueda_uni_siegen.jpg" data-media="(min-width:480px)"></span>					
				  <span data-src="images/460/2x/manuel_rueda_uni_siegen.jpg" data-media="(min-width:480px) and (min-device-pixel-ratio : 1.5),(min-width:480px) and (-webkit-min-device-pixel-ratio : 1.5)"></span>
				  
				  <span data-src="images/676/1x/manuel_rueda_uni_siegen.jpg" data-media="(min-width:760px)"></span>					
				  <span data-src="images/676/2x/manuel_rueda_uni_siegen.jpg" data-media="(min-width:760px) and (min-device-pixel-ratio : 1.5),(min-width:760px) and (-webkit-min-device-pixel-ratio : 1.5)"></span>
				  
				  <span data-src="images/842/1x/manuel_rueda_uni_siegen.jpg" data-media="(min-width:1020px)"></span>					
				  <span data-src="images/842/2x/manuel_rueda_uni_siegen.jpg" data-media="(min-width:1020px) and (min-device-pixel-ratio : 1.5),(min-width:1020px) and (-webkit-min-device-pixel-ratio : 1.5)"></span>
				  
				  <span data-src="images/1136/1x/manuel_rueda_uni_siegen.jpg" data-media="(min-width:1400px)"></span>						
				  					
				  					
					<!--[if (lt IE 9) & (!IEMobile)]>
						<span data-src="images/842/1x/manuel_rueda_uni_siegen.jpg"></span>
					<![endif]-->  
				  
				  <noscript>
				    <img src="images/284/1x/manuel_rueda_uni_siegen.jpg" alt="Uni Siegen" class="previewImg">
				  </noscript>							  
				
			</span>
							
			<span class="playButton"><span class="playButtonArrow"></span></span>	
					
					</a>

		</div>
			<div class="hWrapper">
				<div class="h3Wrapper">
				  <h3>Universit&auml;t Siegen</h3>
				</div>
				<div class="h4Wrapper">
					<h4>Imagefilm</h4>
				</div>
			</div>
			<div class="info">
				<div class="infoWrapper">	
					<div class="infoInner">	
						<p>In Form von kurzen Geschichten werden Identifikationsfiguren aus dem Umfeld der Universit&auml;t Siegen vorgestellt. </p>
						<div class="h5Wrapper">
							<h5>Kunde: Pressestelle Universität Siegen </h5>
							<h5> Agentur: feet&amp;frames </h5>
							<h5> Jahr: 2014</h5>
						</div>
					</div>
				</div>
			</div>
			<div class="infoLink">
				<a href="#" class="infoToggle"><span class="show">Mehr Info</span><span class="hide">&times;</span></a>
			</div>
		</div>
			
		</section>	
<!-- Second Post  -->
		 

<!-- Third Post  -->
	<section id="post3" class="container postContainer full">
			
		<div class="contentWrapper">
			<div class="video">
					
				<a href="https://vimeo.com/139401259" data-video="139401259" class="video16">
					
					<span data-picture data-alt="Schneider´s">
														  		    	
					  <span data-src="images/284/1x/manuel_rueda_schneiders_baeckerei.jpg"></span>
					  <span data-src="images/284/2x/manuel_rueda_schneiders_baeckerei.jpg" data-media="(min-device-pixel-ratio : 1.5),(-webkit-min-device-pixel-ratio : 1.5)"></span>
					  
					  <span data-src="images/460/1x/manuel_rueda_schneiders_baeckerei.jpg" data-media="(min-width:480px)"></span>					
					  <span data-src="images/460/2x/manuel_rueda_schneiders_baeckerei.jpg" data-media="(min-width:480px) and (min-device-pixel-ratio : 1.5),(min-width:480px) and (-webkit-min-device-pixel-ratio : 1.5)"></span>
					  
					  <span data-src="images/676/1x/manuel_rueda_schneiders_baeckerei.jpg" data-media="(min-width:760px)"></span>					
					  <span data-src="images/676/2x/manuel_rueda_schneiders_baeckerei.jpg" data-media="(min-width:760px) and (min-device-pixel-ratio : 1.5),(min-width:760px) and (-webkit-min-device-pixel-ratio : 1.5)"></span>
					  
					  <span data-src="images/842/1x/manuel_rueda_schneiders_baeckerei.jpg" data-media="(min-width:1020px)"></span>					
					  <span data-src="images/842/2x/manuel_rueda_schneiders_baeckerei.jpg" data-media="(min-width:1020px) and (min-device-pixel-ratio : 1.5),(min-width:1020px) and (-webkit-min-device-pixel-ratio : 1.5)"></span>
					  
					  <span data-src="images/1136/1x/manuel_rueda_schneiders_baeckerei.jpg" data-media="(min-width:1400px)"></span>						
					  					
					  					
						<!--[if (lt IE 9) & (!IEMobile)]>
							<span data-src="images/842/1x/manuel_rueda_schneiders_baeckerei.jpg"></span>
						<![endif]-->  
					  
					  <noscript>
					    <img src="images/284/1x/manuel_rueda_schneiders_baeckerei.jpg" alt="Schneider´s" class="previewImg">
					  </noscript>							  
							
					</span>
							
					<span class="playButton"><span class="playButtonArrow"></span></span>	
					
					</a>

				</div>
				<div class="hWrapper">
					<div class="h3Wrapper">
					  <h3>Schneider´s B&auml;ckerei</h3>
					</div>
					<div class="h4Wrapper">
					  <h4>Imagefilm</h4>
					</div>
				</div>
				<div class="info">
					<div class="infoWrapper">	
						<div class="infoInner">	
							<p>Keine Gimbals, keine Drohnen, kein Schnickschnack und keine k&uuml;nstlichen Zusatzstoffe. Der Imagefilm von Schneider´s B&auml;ckerei aus Siegen ist eben echt 100% Handwerk - genau wie Schneider´s.</p>
							<div class="h5Wrapper">
								<h5>Kunde: Schneiders Bäckerei </h5><h5> Agentur: markenstürmer </h5><h5> Jahr: 2015</h5>
							</div>
						</div>
					</div>
				</div>
				<div class="infoLink">
					<a href="#" class="infoToggle"><span class="show">Mehr Info</span><span class="hide">&times;</span></a>
				</div>
			</div>
			
		</section>	
<!-- Third Post  -->
		
<!-- Fourth Post  -->
	<section id="post4" class="container postContainer full">
			
		<div class="contentWrapper">
			<div class="video">
					
				<a href="https://vimeo.com/46851659" data-video="46851659">
					
				<span data-picture data-alt="Bald Ag">
														  		    	
				  <span data-src="images/284/1x/manuel_rueda_bald_image_film.jpg"></span>
				  <span data-src="images/284/2x/manuel_rueda_bald_image_film.jpg" data-media="(min-device-pixel-ratio : 1.5),(-webkit-min-device-pixel-ratio : 1.5)"></span>
				  
				  <span data-src="images/460/1x/manuel_rueda_bald_image_film.jpg" data-media="(min-width:480px)"></span>					
				  <span data-src="images/460/2x/manuel_rueda_bald_image_film.jpg" data-media="(min-width:480px) and (min-device-pixel-ratio : 1.5),(min-width:480px) and (-webkit-min-device-pixel-ratio : 1.5)"></span>
				  
				  <span data-src="images/676/1x/manuel_rueda_bald_image_film.jpg" data-media="(min-width:760px)"></span>					
				  <span data-src="images/676/2x/manuel_rueda_bald_image_film.jpg" data-media="(min-width:760px) and (min-device-pixel-ratio : 1.5),(min-width:760px) and (-webkit-min-device-pixel-ratio : 1.5)"></span>
				  
				  <span data-src="images/842/1x/manuel_rueda_bald_image_film.jpg" data-media="(min-width:1020px)"></span>					
				  <span data-src="images/842/2x/manuel_rueda_bald_image_film.jpg" data-media="(min-width:1020px) and (min-device-pixel-ratio : 1.5),(min-width:1020px) and (-webkit-min-device-pixel-ratio : 1.5)"></span>
				  
				  <span data-src="images/1136/1x/manuel_rueda_bald_image_film.jpg" data-media="(min-width:1400px)"></span>						
				  					
				  					
					<!--[if (lt IE 9) & (!IEMobile)]>
						<span data-src="images/842/1x/manuel_rueda_bald_image_film.jpg"></span>
					<![endif]-->  
				  
				  <noscript>
				    <img src="images/284/1x/manuel_rueda_bald_image_film.jpg" alt="Bald Ag" class="previewImg">
				  </noscript>							  
							
				</span>
							
				<span class="playButton"><span class="playButtonArrow"></span></span>	
					
					</a>

			</div>
			<div class="hWrapper">
				<div class="h3Wrapper">
				  <h3>BALD AG <br> Mercedes Benz Partner</h3>
				</div>
			<div class="h4Wrapper">
			  <h4>Werbefilm</h4>
			</div>
		</div>
		<div class="info">
			<div class="infoWrapper">	
				<div class="infoInner">	
					<p>Das Traditionsunternehmen gab es schon knapp 25 Jahre vor der eigentlichen Erfindung des Automobils. Hier dreht sich alles um die Faszination der Mercedes Benz Fahrzeugwelt.</p>
				<div class="h5Wrapper">
					<h5>Kunde: Bald Ag </h5><h5> Agentur: Welke Consulting Gruppe </h5><h5> Jahr: 2012</h5>
				</div>
			</div>
		</div>
	</div>
	<div class="infoLink">
		<a href="#" class="infoToggle"><span class="show">Mehr Info</span><span class="hide">&times;</span></a>
	</div>
</div>
			
		</section>	
<!-- Fourth Post  -->
		 

			
<!-- About Section -->
	<section id="about" class="container full">
	  
	  <div class="contentWrapper">
	  	<div class="innerContent">
	  		<div class="textWrapper">	
					<p>
						Seit mehr als zehn Jahren besch&auml;ftige ich mich mit der Entwicklung von Video-Konzepten und k&uuml;mmere mich um deren Produktion und Positionierung in der analogen und digitalen Welt. Ich freue mich f&uuml;r Kunden in ganz Europa Ideen zu entwickeln und diese mit Energie und Herzblut umzusetzen.					</p>
					
					<div class="contact">				
						<a href="mailto:hello@manuel-rueda.com" class="mail link">hello@manuel-rueda.com</a>
						<a href="tel:+4915119169179" class="phone link">+49.151.19169179</a>				
					</div>
					
					<div class="profileImg">
						
					
	<span data-picture data-alt="manuel rueda">
	  		    	
	  <span data-src="images/184/1x/manuel-rueda.jpg"></span>
	  <span data-src="images/184/2x/manuel-rueda.jpg" data-media="(min-device-pixel-ratio : 1.5),(-webkit-min-device-pixel-ratio : 1.5)"></span>
	  
	  <span data-src="images/340/1x/manuel-rueda.jpg" data-media="(min-width:480px)"></span>					
	  <span data-src="images/340/2x/manuel-rueda.jpg" data-media="(min-width:480px) and (min-device-pixel-ratio : 1.5),(min-width:480px) and (-webkit-min-device-pixel-ratio: 1.5)"></span>
	  
	  <span data-src="images/388/1x/manuel-rueda.jpg" data-media="(min-width:760px)"></span>					
	  <span data-src="images/388/2x/manuel-rueda.jpg" data-media="(min-width:760px) and (min-device-pixel-ratio : 1.5),(min-width:760px) and (-webkit-min-device-pixel-ratio : 1.5)"></span>
	  
	  <span data-src="images/506/1x/manuel-rueda.jpg" data-media="(min-width:1020px)"></span>					
	  <span data-src="images/506/2x/manuel-rueda.jpg" data-media="(min-width:1020px) and (min-device-pixel-ratio : 1.5),(min-width:1020px) and (-webkit-min-device-pixel-ratio : 1.5)"></span>
	  
	  <span data-src="images/752/1x/manuel-rueda.jpg" data-media="(min-width:1400px)"></span>						
	  					
	  					
	  <!--[if (lt IE 9) & (!IEMobile)]>
	  	<span data-src="images/506/1x/manuel-rueda.jpg"></span>
	  <![endif]-->  
	  
	  <noscript>
	    <img src="images/184/1x/manuel-rueda.jpg" alt="manuel rueda" class="previewImg">
	  </noscript>							  
	
	</span>
					
				</div>
							
			</div>
		</div>
			  	
	</div>
	  
</section>	
<!-- About Section  -->
<!-- More About -->
	<section id="imprint" class="container">
		
	  <div class="contentWrapper">	  
	  	<div class="textWrapper">
	  			  		
				<p class="address">
				  Nicolai Robles<br>
<!-- 				  <a href="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=de&amp;geocode=&amp;q=Hinterstrasse+26,+57072+Siegen&amp;aq=&amp;sll=50.875443,8.024461&amp;sspn=0.012308,0.015922&amp;vpsrc=0&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=Hinterstra%C3%9Fe+26,+57072+Siegen,+Deutschland&amp;z=16&amp;iwloc=A" target="_blank">
						St.-Michael-Strasse 2<br>
						57072 Siegen
				  </a> -->
				</p>
				
				<div id="credit">

				  <a href="https://www.github.com/nicolairobles" target="_blank" class="link"><span>Github</span></a> 
				  <br>
				  <a href="http://www.linkedin.com/in/nicolairobles" target="_blank" class="link"> <span>LinkedIn</span> </a>
<!-- 				  <a href="http://www.raffaelstueken.de" target="_blank" class="link">Design und Code: <span>Raffael St&uuml;ken</span></a> -->
				</div>
			  
<!-- Create Contact Form that sends email to nicolai.robles@gmail.com (Advanced Feature) -->
  <div id="imprintLink">				
		<a href="#" class="link">Contact</a>			
	</div>
	
	<div id="imprintWrapper">
	
		<div id="imprintInner" class="indent">
			<p>	Form </p>
			<p> Name <br>
	Email <br>
	Message</p>

					
					</div>
				
				</div>
				
			</div>
	  </div>
	  
	</section>	
	
	
</div>

<!-- BigLetter Animation -->
<div id="bigLetter">
	<span></span>
</div>

<!-- Menu Navigation -->
<nav id="menu">
	<ul>

		<li id="navLink1" class="navLink">
		  
		  <a href="#post1" class="cf">
		  	<span class="navLinkDivis"></span>
		  	<span class="navInner">
		  		<span class="navInnerText">
		  			Showreel
		  		</span>
		  	</span>
		  	<!-- <span class="navLinkDivis"></span> -->
		  </a>
		  
		</li>	
		

		<li id="navLink2" class="navLink">
	  
		  <a href="#post2" class="cf">
		  	<span class="navLinkDivis"></span>
		  	<span class="navInner">
		  		<span class="navInnerText">
		  			Uni Siegen
		  		</span>
		  	</span>
		  	<!-- <span class="navLinkDivis"></span> -->
		  </a>
	  
		</li>	
		
		<li id="navLink3" class="navLink">
			  
		  <a href="#post3" class="cf">
		  	<span class="navLinkDivis"></span>
		  	<span class="navInner">
		  		<span class="navInnerText">
		  			Schneider´s
		  		</span>
		  	</span>
		  	<!-- <span class="navLinkDivis"></span> -->
		  </a>
			  
		</li>	
		
		<li id="navLink4" class="navLink">
	  
		  <a href="#post4" class="cf">
		  	<span class="navLinkDivis"></span>
		  	<span class="navInner">
		  		<span class="navInnerText">
		  			Bald Ag
		  		</span>
		  	</span>
		  	<!-- <span class="navLinkDivis"></span> -->
		  </a>
	  
		</li>			
				
		<li id="navLinkAbout" class="navLink">
		  
		  <a href="#about" class="cf">
		  	<span class="navLinkDivis"></span>
		  	<span class="navInner">
		  		<span class="navInnerText">
		  			About
		  		</span>
		  	</span>
		  	<!-- <span class="navLinkDivis"></span> -->
		  </a>
		  
		</li>
		
	</ul>
	
	</nav>


		<!-- Projects, Profile, Contact Links -->
		<div id="aboutLink">
				<a href="#post1" class="link workLink">
					<span>Projects</span>
				</a>
				<a href="#about" class="link aboutLink">
					<span>Profile</span>
				</a>
		</div>

		<!-- Piwik -->
		<script type="text/javascript">
		  var _paq = _paq || [];
		  _paq.push(["trackPageView"]);
		  _paq.push(["enableLinkTracking"]);

		  (function() {
		    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://www.raffaelstueken.de/piwik/";
		    _paq.push(["setTrackerUrl", u+"piwik.php"]);
		    _paq.push(["setSiteId", "26"]);
		    var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
		    g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
		  })();
		</script>
		<!-- End Piwik Code -->

	</body>
</html>