<!DOCTYPE html>
 <html class="no-js" lang="en"> 
<head>
	<meta charset="utf-8">
	<title>Nicolai Robles - Full Stack Engineer + Designer</title>
	<meta name="author" content="Nicolai Robles">
	<meta name="description" content="Nicolai Robles - Full Stack Web Developer">
	<meta name="robots" content="index, follow">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta name="google-site-verification" content="SudXMYJfXF0JVgISHU8We6Fett-FvBTNqc_GZNsXuBk" />
	<meta property="og:title" content="Showreel Nicolai Robles" />
	<meta property="og:site_name" content="Nicolai Robles - Full Stack Engineer" />
	<meta property="og:description" content="Nicolai Robles - Full Stack Engineer" />
	<!-- <meta property="og:image" content="http://nicolairobles.com/images/manuel_rueda_video_freelancer.jpg" />  -->
	<meta property="og:url" content="http://www.nicolairobles.com" />
	<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.jpg">
	<link rel="apple-touch-icon-precomposed" href="/images/apple-touch-icon-precomposed.png" />
	<link href='home.css' rel='stylesheet' type='text/css'>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/jquery-1.7.2.min.js"><\/script>')</script>
	<script src="plugins.js"></script>
	<script src="home.js"></script>
</head>

<body>
<section id="image" class="home">
</section>
	<div id="wrapper">
		<section id="lander" class="container">
		  <div class="landerWrapper">
		  	<h2>Full Stack Engineer + Designer</h2>
		  	<h1><span class="nicolai">Nicolai</span> <span class="robles">Robles</span></h1>
		  	<h2 style="text-transform: lowercase;"><a href="/portfolio" >Portfolio</a></h2>
		  	<h2 style="text-transform: lowercase;"><a href="/contact" >Contact</a></h2>
		  	<style type="text/css">
		  		a{
		  			/*transition: all 0.5s ease;*/
				    -webkit-transition: all 0.7s ease;
				    -moz-transition: all 0.7s ease;
				    -o-transition: all 0.7s ease;
				    transition: all 0.7s ease;
		  			padding-bottom: 7px;
/*		  			-webkit-transition: all 0.5s ease-out;
				    -moz-transition: all 0.5s ease-out;
				    -o-transition: all 0.5s ease-out;
				    transition: all 0.5s ease-out;*/
		  		}
		  		a:hover{
		  			border-bottom: 1px solid white;
		  		}
		  	</style>

		  </div>
		</section>
<!-- BigLetter Animation -->
<div id="bigLetter">
	<span></span>
</div>

<!-- Menu Navigation -->
<nav id="menu">
	<ul>
		<li id="navLink1" class="navLink">
		  <a href="#post1" class="cf">
		  	<span class="navLinkDivis"></span>
		  	<span class="navInner">
		  		<span class="navInnerText">
		  			Portfolio
		  		</span>
		  	</span>
		  </a>
		</li>	
		<li id="navLink2" class="navLink">
		  <a href="#post2" class="cf">
		  	<span class="navLinkDivis"></span>
		  	<span class="navInner">
		  		<span class="navInnerText">
		  			Contact
		  		</span>
		  	</span>
		  </a>
		</li>	
	</ul>
</nav>

</body>
</html>