<!DOCTYPE html>
 <html class="no-js" lang="en"> 
<head>
	<meta charset="utf-8">

	<title>Nicolai Robles - Full Stack Engineer</title>

	<meta name="author" content="Nicolai Robles">
	<meta name="description" content="Nicolai Robles - Full Stack Web Developer">
	<meta name="robots" content="index, follow">

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

	<meta name="google-site-verification" content="SudXMYJfXF0JVgISHU8We6Fett-FvBTNqc_GZNsXuBk" />
	<meta property="og:title" content="Showreel Nicolai Robles" />
	<meta property="og:site_name" content="Nicolai Robles - Full Stack Engineer" />
	<meta property="og:description" content="Nicolai Robles - Full Stack Web Developer" />
	<!-- <meta property="og:image" content="http://nicolairobles.com/images/manuel_rueda_video_freelancer.jpg" />  -->
	<meta property="og:url" content="http://www.nicolairobles.com" />

	<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.jpg">
	<link rel="apple-touch-icon-precomposed" href="/images/apple-touch-icon-precomposed.png" />

	<link href='home.css' rel='stylesheet' type='text/css'>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/jquery-1.7.2.min.js"><\/script>')</script>
	<script src="plugins.js"></script>
	<script src="home.js"></script>
	<script src="//load.sumome.com/" data-sumo-site-id="0dcbb9b3b75c6a723a52b1830a33bac7a784a78dbb8fa9fd6f109f14795b1f18" async="async"></script>

</head>

<body>

<!--[if lt IE 8]>
	<p class="browsehappy">You are using an outdated browser. <br>Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div id="wrapper">

	
	<section id="lander" class="container">
	  
	  <div class="landerWrapper">
	  	<h2>Full Stack Engineer</h2>
	  	<h1><span class="nicolai">Nicolai</span> <span class="robles">Robles</span></h1>
	  </div>


<!-- 	  <div class="contentWrapper">	  	

		<div class="hWrapper">	
  		<div class="buttonWrapper">
  			<a href="#about" class="button scrollButton"><span class="buttonContent">CV & Contact	</span><span class="buttonFrame"></span></a>
  			<a href="#post2" class="button scrollButton"><span class="buttonContent">Projects			</span><span class="buttonFrame"></span></a>					
  		</div>
  	</div>
  	</div> -->
	  
	</section>
	  	
<!--First Post  -->
	<section id="post1" class="container full inView">
	  
	  <div class="contentWrapper">	  	
	  	
	  	<div class="reelHead">
	  		<h3>Projects</h3>
	  	</div>
	  	
	  	<div class="video showReel">
	  	<a class="infoToggle" href="#">
<!-- 	  		<a href="https://vimeo.com/153217022" data-video="153217022">	 -->
	  			
					
			<span data-picture data-alt="showreel">
			  		    	
			  <span data-src="images/284:1x/tictactoe.jpg"></span>
			  <span data-src="images/284:1x/tictactoe.jpg" data-media="(min-device-pixel-ratio : 1.5),(-webkit-min-device-pixel-ratio : 1.5)"></span>
			  
			  <span data-src="images/460:1x/tictactoe.jpg" data-media="(min-width:480px)"></span>					
			  <span data-src="images/460:1x/tictactoe.jpg" data-media="(min-width:480px) and (min-device-pixel-ratio : 1.5),(min-width:480px) and (-webkit-min-device-pixel-ratio : 1.5)"></span>
			  
			  <span data-src="images/676:1x/tictactoe.jpg" data-media="(min-width:760px)"></span>					
			  <span data-src="images/676:1x/tictactoe.jpg" data-media="(min-width:760px) and (min-device-pixel-ratio : 1.5),(min-width:760px) and (-webkit-min-device-pixel-ratio : 1.5)"></span>
			  
			  <span data-src="images/842:1x/tictactoe.jpg" data-media="(min-width:1020px)"></span>					
			  <span data-src="images/842:1x/tictactoe.jpg" data-media="(min-width:1020px) and (min-device-pixel-ratio : 1.5),(min-width:1020px) and (-webkit-min-device-pixel-ratio : 1.5)"></span>
			  
			  <span data-src="images/1136:1x/tictactoe.jpg" data-media="(min-width:1400px)"></span>						
			  					
			  					
			  <!--[if (lt IE 9) & (!IEMobile)]>
			  	<span data-src="images/842:1x/tictactoe.jpg"></span>
			  <![endif]-->  
			  
			  <noscript>
			    <img src="images/284:1x/tictactoe.jpg" alt="showreel" class="previewImg">
			  </noscript>							  
			
			</span>
											
<!-- 			<span class="playButton"><span class="playButtonArrow"></span></span>	 -->
			  		</a>
  		</div>	<!-- ends Showreel -->


		<div class="hWrapper">

			<div class="h3Wrapper">
			  <h3>Beat the Machine</h3>
			</div>
			<div class="h4Wrapper">
				<h4>AI Powered Tic Tac Toe</h4>
			</div>
		</div>

		<div class="info">
			<div class="infoWrapper">	
				<div class="infoInner">	
					<p>Beat The Machine is a timed Tic Tac Toe game where the computer's logic is programmed to block all opponent's strategies and win as soon as possible. The game also has the option to play against another human. Written in javascript and styled with CSS. </p>
					<a href="http://nicolairobles.github.io" class = "link scrollButton" target="_blank"><span class="show">Live Site</span></a>
					<br>
					<a href="#about" class = "button scrollButton"><span class="show">Profile</span></a>
					<a href="#post2" class = "button scrollButton"><span class="show">Next Project</span></a>

				</div>
			</div>
		</div>


		<div class="infoLink">
			<a href="#" class="infoToggle"><span class="show">More Info</span><span class="hide">&times;</span></a>
		</div>


<!-- 	  	<div class="hWrapper">	
	  		<div class="buttonWrapper">
	  			<a href="#about" class="button scrollButton"><span class="buttonContent">CV & Contact	</span><span class="buttonFrame"></span></a>
	  			<a href="#post2" class="button scrollButton"><span class="buttonContent">Projects			</span><span class="buttonFrame"></span></a>					
	  		</div>
	  	</div> -->

	  </div> <!-- ends ContentWrapper -->
	  
	</section>
<!--First Post  -->


<!-- Second Post -->
	<section id="post2" class="container postContainer full">
			
		<div class="contentWrapper">
			<div class="video">
					<a class="infoToggle" href="#">
<!-- 				<a href="https://vimeo.com/93359498" data-video="93359498"> -->
					
				<span data-picture data-alt="Watch&Learn">
														  		    	
				  <span data-src="images/284:1x/watch&learn.jpg"></span>
				  <span data-src="images/284:1x/watch&learn.jpg" data-media="(min-device-pixel-ratio : 1.5),(-webkit-min-device-pixel-ratio : 1.5)"></span>
				  
				  <span data-src="images/460:1x/watch&learn.jpg" data-media="(min-width:480px)"></span>					
				  <span data-src="images/460:1x/watch&learn.jpg" data-media="(min-width:480px) and (min-device-pixel-ratio : 1.5),(min-width:480px) and (-webkit-min-device-pixel-ratio : 1.5)"></span>
				  
				  <span data-src="images/676:1x/watch&learn.jpg" data-media="(min-width:760px)"></span>					
				  <span data-src="images/676:1x/watch&learn.jpg" data-media="(min-width:760px) and (min-device-pixel-ratio : 1.5),(min-width:760px) and (-webkit-min-device-pixel-ratio : 1.5)"></span>
				  
				  <span data-src="images/842:1x/watch&learn.jpg" data-media="(min-width:1020px)"></span>					
				  <span data-src="images/842:1x/watch&learn.jpg" data-media="(min-width:1020px) and (min-device-pixel-ratio : 1.5),(min-width:1020px) and (-webkit-min-device-pixel-ratio : 1.5)"></span>
				  
				  <span data-src="images/1136:1x/watch&learn.jpg" data-media="(min-width:1400px)"></span>						
				  					
				  					
					<!--[if (lt IE 9) & (!IEMobile)]>
						<span data-src="images/842/1x/manuel_rueda_uni_siegen.jpg"></span>
					<![endif]-->  
				  
				  <noscript>
				    <img src="images/284:1x/watch&learn.jpg" alt="Watch&Learn" class="previewImg">
				  </noscript>							  
				
			</span>
<!-- 							
			<span class="playButton"><span class="playButtonArrow"></span></span>	
					 -->
					</a>
		</div>

		<div class="hWrapper">
			<div class="h3Wrapper">
			  <h3>Watch&Learn</h3>
			</div>
			<div class="h4Wrapper">
				<h4>Rated Educational Video Curriculums</h4>
			</div>
		</div>

		<div class="info">
			<div class="infoWrapper">	
				<div class="infoInner">	
					<p>Watch&Learn is an educational platform leveraging the Youtube API to create custom curriculums that are then rated by users. This was a group project with Marina Rozonov, Jared Murphy, and Fatima Faloye. Written with Ruby on Rails, the Youtube API, Javascript, and CSS. A design upgrade is pending. </p>
					<a href="https://watch-learn.herokuapp.com/" class = "link scrollButton" target="_blank"><span class="show">Live Site (load delay)</span></a>
					<br>
					<a href="#post1" class = "button scrollButton"><span class="show">Previous Project</span></a>
					<a href="#post3" class = "button scrollButton"><span class="show">Next Project</span></a>
				</div>
			</div>
		</div>

		<div class="infoLink">
			<a href="#" class="infoToggle"><span class="show">More Info</span><span class="hide">&times;</span></a>
		</div>

	</div>
			
		</section>	
<!-- Second Post  -->
		 

<!-- Third Post  -->
	<section id="post3" class="container postContainer full">
			
		<div class="contentWrapper">
			<div class="video">
					<a class="infoToggle" href="#">
<!-- 				<a href="https://vimeo.com/139401259" data-video="139401259" class="video16"> -->
					
					<span data-picture data-alt="General Assembly Wikipedia">
														  		    	
					  <span data-src="images/284:1x/gawiki.jpg"></span>
					  <span data-src="images/284:1x/gawiki.jpg" data-media="(min-device-pixel-ratio : 1.5),(-webkit-min-device-pixel-ratio : 1.5)"></span>
					  
					  <span data-src="images/460:1x/gawiki.jpg" data-media="(min-width:480px)"></span>					
					  <span data-src="images/460/2x/manuel_rueda_schneiders_baeckerei.jpg" data-media="(min-width:480px) and (min-device-pixel-ratio : 1.5),(min-width:480px) and (-webkit-min-device-pixel-ratio : 1.5)"></span>
					  
					  <span data-src="images/676:1x/gawiki.jpg" data-media="(min-width:760px)"></span>					
					  <span data-src="images/676:1x/gawiki.jpg" data-media="(min-width:760px) and (min-device-pixel-ratio : 1.5),(min-width:760px) and (-webkit-min-device-pixel-ratio : 1.5)"></span>
					  
					  <span data-src="images/842:1x/gawiki.jpg" data-media="(min-width:1020px)"></span>					
					  <span data-src="images/842:1x/gawiki.jpg" data-media="(min-width:1020px) and (min-device-pixel-ratio : 1.5),(min-width:1020px) and (-webkit-min-device-pixel-ratio : 1.5)"></span>
					  
					  <span data-src="images/1136:1x/gawiki.jpg" data-media="(min-width:1400px)"></span>						
					  					
					  					
						<!--[if (lt IE 9) & (!IEMobile)]>
							<span data-src="images/842/1x/manuel_rueda_schneiders_baeckerei.jpg"></span>
						<![endif]-->  
					  
					  <noscript>
					    <img src="images/248:1x/gawiki.jpg" alt="General Assembly Wikipedia" class="previewImg">
					  </noscript>							  
							
					</span>
							
<!-- 					<span class="playButton"><span class="playButtonArrow"></span></span>	 -->
					
					</a>

				</div>
				<div class="hWrapper">
					<div class="h3Wrapper">
					  <h3>General Assembly Wikipedia</h3>
					</div>
					<div class="h4Wrapper">
					  <h4>Wikipedia Functional Site for all things General Assembly</h4>
					</div>
				</div>
		<div class="info">
			<div class="infoWrapper">	
				<div class="infoInner">	
					<p>The General Assembly Wikipedia allows you to create topics, edits posts created by others, and add topics to categories. I used the Sinatra framework to create the app's architecture. I created user authentication from scratch, password encryption using bcrypt, and Postgres for the database. I used plain SQL, instead of ActiveRecord, as a challenge to myself & I designed the aesthetic off of General Assembly's branding. </p>
					<a href="https://wdi-wiki.herokuapp.com/" class = "link scrollButton" target="_blank"><span class="show">Live Site (load delay)</span></a>
					<br>
					<a href="#post2" class = "button scrollButton"><span class="show">Previous Project</span></a>
					<a href="#post4" class = "button scrollButton"><span class="show">Next Project</span></a>
				</div>
			</div>
		</div>

				<div class="infoLink">
					<a href="#" class="infoToggle"><span class="show">More Info</span><span class="hide">&times;</span></a>
				</div>
			</div>
			
		</section>	
<!-- Third Post  -->
		
<!-- Fourth Post  -->
	<section id="post4" class="container postContainer full">
			
		<div class="contentWrapper">
			<div class="video">
					<a class="infoToggle" href="#">
<!-- 				<a href="https://vimeo.com/46851659" data-video="46851659"> -->
					
				<span data-picture data-alt="Goltracker">
														  		    	
				  <span data-src="images/248:1x/goltracker.jpg"></span>
				  <span data-src="images/248:1x/goltracker.jpg" data-media="(min-device-pixel-ratio : 1.5),(-webkit-min-device-pixel-ratio : 1.5)"></span>
				  
				  <span data-src="images/460:1x/goltracker.jpg" data-media="(min-width:480px)"></span>					
				  <span data-src="images/460:1x/goltracker.jpg" data-media="(min-width:480px) and (min-device-pixel-ratio : 1.5),(min-width:480px) and (-webkit-min-device-pixel-ratio : 1.5)"></span>
				  
				  <span data-src="images/676:1x/goltracker.jpg" data-media="(min-width:760px)"></span>					
				  <span data-src="images/676:1x/goltracker.jpg" data-media="(min-width:760px) and (min-device-pixel-ratio : 1.5),(min-width:760px) and (-webkit-min-device-pixel-ratio : 1.5)"></span>
				  
				  <span data-src="images/842:1x/goltracker.jpg" data-media="(min-width:1020px)"></span>					
				  <span data-src="images/842:1x/goltracker.jpg" data-media="(min-width:1020px) and (min-device-pixel-ratio : 1.5),(min-width:1020px) and (-webkit-min-device-pixel-ratio : 1.5)"></span>
				  
				  <span data-src="images/1136:1x/goltracker.jpg" data-media="(min-width:1400px)"></span>						
				  					
				  					
					<!--[if (lt IE 9) & (!IEMobile)]>
						<span data-src="images/842/1x/manuel_rueda_bald_image_film.jpg"></span>
					<![endif]-->  
				  
				  <noscript>
				    <img src="images/248:1x/goltracker.jpg" alt="Goltracker" class="previewImg">
				  </noscript>							  
							
				</span>
					<!-- 		
				<span class="playButton"><span class="playButtonArrow"></span></span>	
					 -->
					</a>

			</div>
			<div class="hWrapper">
				<div class="h3Wrapper">
				  <h3>Goltracker</h3>
				</div>
			<div class="h4Wrapper">
			  <h4>Keep track of your goals</h4>
			</div>
		</div>
		<div class="info">
			<div class="infoWrapper">	
				<div class="infoInner">	
					<p>I created a Ruby on Rails application that allows users to track their goals by getting text message reminders. I used the Twilio API, a free messaging API, Materialize CSS for styling, Postgres for the database, and delayed_job to manage the text messages as queued background processes.</p>
					<a href="https://goltracker.herokuapp.com/" class = "link scrollButton" target="_blank"><span class="show">Live Site (load delay)</span></a>
					<br>
					<a href="#post3" class = "button scrollButton"><span class="show">Previous Project</span></a>
					<a href="#about" class = "button scrollButton"><span class="show">Profile</span></a>
				</div>
			</div>
		</div>
	<div class="infoLink">
		<a href="#" class="infoToggle"><span class="show">More Info</span><span class="hide">&times;</span></a>
	</div>
</div>
			
		</section>	
<!-- Fourth Post  -->
		 

			
<!-- About Section -->
	<section id="about" class="container full">
	  
	  <div class="contentWrapper">
	  	<div class="innerContent">
	  		<div class="textWrapper">	
		  		<p class="address">
					  Nicolai Robles<br>
					</p>

						<p style="margin-left: 20px">I've needed to create things since I can remember. Writing code has given me a tremendous appreciation and passion for creating compelling, smart, and beautiful applications, websites, and platforms. Contact me to find out more.</p>
					<br>
					<br>
					
						<a href="mailto:nicolai.robles@gmail.com" class="mail link">nicolai.robles@gmail.com</a><br><br>
						<a href="tel:+12012453735" class="phone link">201-245-3735</a><br><br>
						<a href="https://www.github.com/nicolairobles" target="_blank" class="link"><span>Github</span></a> <br><br>
					  <a href="http://www.linkedin.com/in/nicolairobles" target="_blank" class="link"> <span>LinkedIn</span> </a>	<br><br>
					  <a href="/resume" class="link"> <span>PDF Resume</span> </a>
					
				<!-- <div class="profileImg"> -->
						
<!-- Profile Picture -->
	 <!-- <span data-picture data-alt="nicolai robles">
	  		    	
	  <span data-src="images/184/1x/manuel-rueda.jpg"></span>
	  <span data-src="images/184/2x/manuel-rueda.jpg" data-media="(min-device-pixel-ratio : 1.5),(-webkit-min-device-pixel-ratio : 1.5)"></span>
	  
	  <span data-src="images/340/1x/manuel-rueda.jpg" data-media="(min-width:480px)"></span>					
	  <span data-src="images/340/2x/manuel-rueda.jpg" data-media="(min-width:480px) and (min-device-pixel-ratio : 1.5),(min-width:480px) and (-webkit-min-device-pixel-ratio: 1.5)"></span>
	  
	  <span data-src="images/388/1x/manuel-rueda.jpg" data-media="(min-width:760px)"></span>					
	  <span data-src="images/388/2x/manuel-rueda.jpg" data-media="(min-width:760px) and (min-device-pixel-ratio : 1.5),(min-width:760px) and (-webkit-min-device-pixel-ratio : 1.5)"></span>
	  
	  <span data-src="images/506/1x/manuel-rueda.jpg" data-media="(min-width:1020px)"></span>					
	  <span data-src="images/506/2x/manuel-rueda.jpg" data-media="(min-width:1020px) and (min-device-pixel-ratio : 1.5),(min-width:1020px) and (-webkit-min-device-pixel-ratio : 1.5)"></span>
	  
	  <span data-src="images/752/1x/manuel-rueda.jpg" data-media="(min-width:1400px)"></span>						
	  		 -->			
	  					
	  <!--[if (lt IE 9) & (!IEMobile)]>
	  	<span data-src="images/506/1x/manuel-rueda.jpg"></span>
	  <![endif]  
	  
	  <noscript>
	    <img src="images/184/1x/manuel-rueda.jpg" alt="manuel rueda" class="previewImg">
	  </noscript>							  
	
	</span> -->
					
				<!-- </div> -->
							
			</div>
		</div>
			  	
	</div>
	  
</section>	
<!-- About Section  -->

<!-- More About -->
	<section id="imprint" class="container">
		
	  <div class="contentWrapper">	  
	  	<div class="textWrapper">
	  			  		
<!-- 				<p class="address">
				  Education<br>
				</p>
				
				<div id="credit">

				  <a href="https://www.github.com/nicolairobles" target="_blank" class="link"><span>Github</span></a> 
				  <br>
				  <a href="http://www.linkedin.com/in/nicolairobles" target="_blank" class="link"> <span>LinkedIn</span> </a>

				</div> -->
			  
<!-- Create Contact Form that sends email to nicolai.robles@gmail.com (Advanced Feature) -->
<!--   <div id="imprintLink">				
		<a href="#" class="link">Contact</a>			
	</div> -->
	
<!-- 	<div id="imprintWrapper">
		<div id="imprintInner" class="indent">
			<p>	Form </p>
			<p> Name <br>
					Email <br>
					Message</p>
		</div>
	</div> -->
				
			</div>
	  </div>
	  
	</section>	
	
	
</div>

<!-- BigLetter Animation -->
<div id="bigLetter">
	<span></span>
</div>

<!-- Menu Navigation -->
<nav id="menu">
	<ul>

		<li id="navLink1" class="navLink">
		  
		  <a href="#post1" class="cf">
		  	<span class="navLinkDivis"></span>
		  	<span class="navInner">
		  		<span class="navInnerText">
		  			Beat the Machine
		  		</span>
		  	</span>
		  </a>
		  
		</li>	
		

		<li id="navLink2" class="navLink">
	  
		  <a href="#post2" class="cf">
		  	<span class="navLinkDivis"></span>
		  	<span class="navInner">
		  		<span class="navInnerText">
		  			Watch&Learn
		  		</span>
		  	</span>
		  </a>
	  
		</li>	
		
		<li id="navLink3" class="navLink">
			  
		  <a href="#post3" class="cf">
		  	<span class="navLinkDivis"></span>
		  	<span class="navInner">
		  		<span class="navInnerText">
		  			General Assembly Wikipedia
		  		</span>
		  	</span>
		  </a>
			  
		</li>	
		
		<li id="navLink4" class="navLink">
	  
		  <a href="#post4" class="cf">
		  	<span class="navLinkDivis"></span>
		  	<span class="navInner">
		  		<span class="navInnerText">
		  			Goltracker
		  		</span>
		  	</span>
		  </a>
	  
		</li>			
				
		<li id="navLinkAbout" class="navLink">
		  
		  <a href="#about" class="cf">
		  	<span class="navLinkDivis"></span>
		  	<span class="navInner">
		  		<span class="navInnerText">
		  			About
		  		</span>
		  	</span>
		  </a>
		  
		</li>
		
	</ul>
	
	</nav>


		<!-- Projects, Profile, Contact Links -->
		<div id="aboutLink">
				<a href="#post1" class="link workLink">
					<span>Projects</span>
				</a>
				<a href="#about" class="link aboutLink">
					<span>Profile</span>
				</a>
		</div>

	</body>
<!-- 	<footer class="copyright">
			© 2016 Nicolai Robles
	</footer> -->
</html>