<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<title>Nicolai Robles - Full Stack Engineer + Designer </title>
	<meta name="description" content="" />
	<meta name="author" content="" />
	<link rel="icon" href="images/favicon.ico"/>

	<!-- <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'/> -->
	<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" media="screen"/>
	<link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" media="screen"/>
	<link rel="stylesheet" href="css/animate.css" type="text/css" media="screen"/>
	<link rel="stylesheet" href="css/style.css" type="text/css" media="screen"/>

</head>
<body>

	<div class="inline-menu-container showx">
		<ul class="inline-menu">
			<!-- <li class="portfolio menu-item" style="text-transform: uppercase">Portfolio</li>		 -->
			<li class="fa fa-arrow-left resume" style="text-transform: uppercase; border-right: none"><a class="resume-nav" href="/" target="_blank"> nicolairobles.com</a></li>
			<!-- <li class="contact menu-item" style="text-transform: uppercase">Contact</li> -->
			<li id="close" style="color: white">&times;</li>
		</ul>
	</div>

<div id="project">
	<section class="content" style="background: white">
		<div class="block-content">			
			<div class="project-title">
				<h2>Beat The Machine  |  <span style="text-transform:lowercase; font-family:Times, serif;">Dec 2015</span></h2>
				<p class="tags">AI-Powered Tic Tac Toe</p>
			</div>
			<br>
			<h3>Concept - An Artificially Intelligent Tic Tac Toe Game That Knows No Rival</h3>

			<p class="project-description">Beat The Machine is a timed Tic Tac Toe game where the computer's logic is programmed to block all opponent's strategies and win as soon as possible. Written in javascript and styled minimally with CSS.</p>

			<div class="project-media">
				<h4><a target="_blank" href="http://nicolairobles.github.io" > LINK: Play here</a></h4>
				  <img src="images/portfolio/beat-the-machine-demo.gif" alt="" />
			</div> 
			<br>
			<br>
			<br>
			<h3>Technology</h3>
			<p class="project-description">
				<ul class="fa-ul">
					<li><i class="fa-li fa fa-check-square"></i>Javascript</li>
					<li><i class="fa-li fa fa-check-square"></i>CSS</li>
				</ul>
			</p>

			<br>
			<br>

			<h3>Challenge - Creating An Artificially Intelligent Opponent</h3>

			<p class="project-description">
			Implementing a computer algorithm that could win at tic-tac-toe was challenging, let alone implementing an efficient algorithm that pursued two key goals of a) strategically making moves based on the a user's recent moves, and b) knowing when to stop blocking user's moves if the opportunity to win presented itself.
			</p>
			<br>
			<p class="project-description">After running through several different strategies, I tried to recreate the computer's moves at every step of the game, leading me to understand that the best way to conceptualize the computer's strategic logic was to view the game from the perspective of time, or moment in time in the game.
			</p>
			<div class="project-media">
				<h4>Diagram Conceptualizing a computer's possible moves throughout the game</h4>
				<img src="images/portfolio/beat-the-machine/comp-notes1.png" alt="" />
			</div> 

			<div style="overflow:scroll; height:500px;" class="project-media">
				<h4>Time-Dependent Algorithm Manifested in Javascript Logic</h4>

			  <img src="images/portfolio/beat-the-machine/comp-code1.png" alt="" />
			  <img src="images/portfolio/beat-the-machine/comp-code2.png" alt="" />
			  <img src="images/portfolio/beat-the-machine/comp-code3.png" alt="" />
			</div> 
			<br>
			<br>

<!-- 			<h3>Process (Conceptualizing & Coding)</h3>
			<br>
			<br> -->
			<h3>Final Product</h3>

			

			<div style="overflow:scroll; height:500px;" class="project-media">
				<h4><a class="fa fa-github" target="_blank" href="https://github.com/nicolairobles/nicolairobles.github.io"> Beat The Machine Github Repository</a></h4>
				<h4>HTML</h4>

			  <img src="images/portfolio/beat-the-machine/comp-html1.png" alt="" />
			  <br>
			  <br>
				<h4>JS</h4>

			  <img src="images/portfolio/beat-the-machine/code1.png" alt="" />
			  <img src="images/portfolio/beat-the-machine/code2.png" alt="" />
			  <img src="images/portfolio/beat-the-machine/code3.png" alt="" />
			  <img src="images/portfolio/beat-the-machine/code4.png" alt="" />
  		  <img src="images/portfolio/beat-the-machine/code5.png" alt="" />
			  <img src="images/portfolio/beat-the-machine/code6.png" alt="" />
			  <img src="images/portfolio/beat-the-machine/code7.png" alt="" />
			  <img src="images/portfolio/beat-the-machine/code8.png" alt="" />
			</div> 

<!-- 			<br>
			<br>
			<h3>Coming Soon</h3>
			<p class="project-description">Initial sketches, whiteboard logic digramming, and more coming soon.</p> -->
   
		</div>
	</section>
 </div>





<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="js/jquery.placeholder.min.js"></script>
<script type="text/javascript" src="js/contact_me.js"></script>
<script type="text/javascript" src="js/smooth-scroll.js"></script>
<script type="text/javascript" src="js/main.js"></script>
 </body>
</html>


















