<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<title>Nicolai Robles - Full Stack Engineer + Designer </title>
	<meta name="description" content="" />
	<meta name="author" content="" />
	<link rel="icon" href="images/favicon.ico"/>

	<!-- <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'/> -->
	<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" media="screen"/>
	<link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" media="screen"/>
	<link rel="stylesheet" href="css/animate.css" type="text/css" media="screen"/>
	<link rel="stylesheet" href="css/style.css" type="text/css" media="screen"/>

</head>
<body>

	<div class="inline-menu-container showx">
		<ul class="inline-menu">
			<!-- <li class="portfolio menu-item" style="text-transform: uppercase">Portfolio</li>		 -->
			<li class="fa fa-arrow-left resume" style="text-transform: uppercase; border-right: none"><a class="resume-nav" href="/" target="_blank"> nicolairobles.com</a></li>
			<!-- <li class="contact menu-item" style="text-transform: uppercase">Contact</li> -->
			<li id="close" style="color: white">&times;</li>
		</ul>
	</div>

<div id="project">
	<section class="content" style="background: white">
		<div class="block-content">			
			<div class="project-title">
				<h2>Beat The Machine  |  <span style="text-transform:lowercase; font-family:Times, serif;">Dec 2015</span></h2>
				<p class="tags">AI-Powered Tic Tac Toe</p>
			</div>
			<br>
			<h3>Concept</h3>

			<p class="project-description">Beat The Machine is a timed Tic Tac Toe game where the computer's logic is programmed to block all opponent's strategies and win as soon as possible. Written in javascript and styled minimally with CSS. Visit the live version <a style="font-weight:bold;" target="_blank" href="http://nicolairobles.github.io" >here</a>.</p>
			<div class="project-media">
				  <img src="images/portfolio/output.gif" alt="" />
			</div> 
			<br>
			<br>
			<h3>Technology</h3>
			<p class="project-description">Initial sketches, whiteboard logic digramming, and more coming soon.</p>
   
		</div>
	</section>
 </div>





<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="js/jquery.placeholder.min.js"></script>
<script type="text/javascript" src="js/contact_me.js"></script>
<script type="text/javascript" src="js/smooth-scroll.js"></script>
<script type="text/javascript" src="js/main.js"></script>
 </body>
</html>


















