<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<title>Nicolai Robles - Full Stack Engineer + Designer </title>
	<meta name="description" content="" />
	<meta name="author" content="" />
	<link rel="icon" href="images/favicon.ico"/>

	<!-- <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'/> -->
	<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" media="screen"/>
	<link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" media="screen"/>
	<link rel="stylesheet" href="css/animate.css" type="text/css" media="screen"/>
	<link rel="stylesheet" href="css/style.css" type="text/css" media="screen"/>

</head>
<body>

	<div class="inline-menu-container showx">
		<ul class="inline-menu">
			<!-- <li class="portfolio menu-item" style="text-transform: uppercase">Portfolio</li>		 -->
			<li class="fa fa-arrow-left resume" style="text-transform: uppercase; border-right: none"><a class="resume-nav" href="/" target="_blank"> nicolairobles.com</a></li>
			<!-- <li class="contact menu-item" style="text-transform: uppercase">Contact</li> -->
			<li id="close" style="color: white">&times;</li>
		</ul>
	</div>

<div id="project">
	<section class="content" style="background: white">
		<div class="block-content">			
			<div class="project-title">
				<h2>Chorus  |  <span style="text-transform:lowercase; font-family:Times, serif;">April 2016</span></h2>
				<p class="tags">Crowdsource Power</p>
			</div>
			<br>
			<h3>Concept - Logo/Brand Design & Landing Page</h3>
			<p class="project-description">Chorus is an early stage start-up, as of 2016, founded by Abigail Larkin & Shareq Rashid with a mission to provide citizens the power to create and impact community grassroots movements. A key feature of Chorus is to provide elected officials with a FICO-like score to ensure citizens can make informed, data-driven decisions.</p>
			<br>
			<p class="project-description">I partnered with Chorus after meeting at a Serval Partners Hackathon hosted at General Assembly. The challenge was to create an aesthetically beautiful brand design and to implement it for Chorus's debut on their coming soon landing page</p>

			<div class="project-media">
				<h4><a target="_blank" href="http://chorus-home.herokuapp.com">LINK: Chorus Coming Soon Landing Page</a></h4>
				  <a target="_blank" href="http://chorus-home.herokuapp.com"><img src="images/portfolio/chorus-intro.png" alt="" /></a>
			</div>  

			<br>
			<br>
			<br>
			<h3>Technology</h3>
			<p class="project-description">
				<ul class="fa-ul">
					<li><i class="fa-li fa fa-check-square"></i>Illustrator</li>
					<li><i class="fa-li fa fa-check-square"></i>Javascript</li>
					<li><i class="fa-li fa fa-check-square"></i>CSS</li>
					<li><i class="fa-li fa fa-check-square"></i>Ruby</li>
					<li><i class="fa-li fa fa-check-square"></i>Rails - to manage email sign-ups</li>
				</ul>
			</p>
			<br>
			<br>
			<h3>Challenge - Designing The Foundation of a brand</h3>
			<p class="project-description">I began with the tiny idea that Chorus has the potential to represent the diverse opinions of a population. I was drawn to geometric shapes that could represent the ability of different groups to serve as the building blocks of grass-roots movements.</p>

				<div class="project-media">
				<h4>The Evolution of a tiny idea</h4>
					<img src="images/portfolio/chorus/chorus1.png" alt="" />
				</div>

<!-- 				<div class="project-media">
					<img src="images/portfolio/chorus/chorus2.png" alt="" />
				</div>  -->

				<div class="project-media">
					<img src="images/portfolio/chorus/chorus3.png" alt="" />
				</div> 


			<br>
			<br>
			<br>
			<h3>Final Product</h3>

			<div class="project-media">
				<img src="images/portfolio/chorus/chorus-icon.png" alt="" />
			</div> 
			<br>
			<br>
			<br>
			<p class="project-description">In addition to the logo, I designed the color scheme and typography, which I compiled at Frontify.</p>

			

			<div class="project-media">
		  	<h4><a target="_blank" href="https://app.frontify.com/document/91642">LINK: Frontify Style Guide with Downloadable Assets (e.g., Fonts, logo icons, etc)</a></h4>
		  	<a target="_blank" href="https://app.frontify.com/document/91642"><img src="images/portfolio/chorus-frontify.png" alt="" /></a>

			</div> 

			<br>
			<br>
			<br>


		</div>
	</section>
 </div>





<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="js/jquery.placeholder.min.js"></script>
<script type="text/javascript" src="js/contact_me.js"></script>
<script type="text/javascript" src="js/smooth-scroll.js"></script>
<script type="text/javascript" src="js/main.js"></script>
 </body>
</html>


















