<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<title>Nicolai Robles - Full Stack Engineer + Designer </title>
	<meta name="description" content="" />
	<meta name="author" content="" />
	<link rel="icon" href="images/favicon.ico"/>

	<!-- <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'/> -->
	<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" media="screen"/>
	<link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" media="screen"/>
	<link rel="stylesheet" href="css/animate.css" type="text/css" media="screen"/>
	<link rel="stylesheet" href="css/style.css" type="text/css" media="screen"/>

</head>
<body>

	<div class="inline-menu-container showx">
		<ul class="inline-menu">
			<!-- <li class="portfolio menu-item" style="text-transform: uppercase">Portfolio</li>		 -->
			<li class="fa fa-arrow-left resume" style="text-transform: uppercase; border-right: none"><a class="resume-nav" href="/" target="_blank"> nicolairobles.com</a></li>
			<!-- <li class="contact menu-item" style="text-transform: uppercase">Contact</li> -->
			<li id="close" style="color: white">&times;</li>
		</ul>
	</div>

<div id="project">
	<section class="content" style="background: white">
		<div class="block-content">			
			<div class="project-title">
				<h2>Chorus</h2>
				<p class="tags">AI Tic Tac Toe</p>
			</div>
			<p class="project-description">Omnium nominati prodesset pri no. Per dolor gloriatur persequeris ad, te his aliquip molestie. Veri tantas ad usu, mel ne sonet quaeque assueverit. Enim eruditi euripidis his et, dictas admodum posidonium ei pro. An duo tempor maluisset honestatis. Ne cum invidunt constituto, sanctus accusam an usu, ea mandamus incorrupte mel. Pro cu purto graeco. Wisi sonet elitr eos in. Est sint magna mucius te, iudico integre gubergren no vis. Assum doming et pro, est ei inermis corpora argumentum. Eos graece sadipscing et, pri dico salutandi consetetur et, explicari voluptatum mei at. Ex cum nisl epicurei, sea in molestie theophrastus, nibh tollit apeirian no vis. Eum an vocibus gubergren intellegam, quo id soluta iisque phaedrum. </p>
			<div class="project-media">
				  <img src="images/portfolio/1.jpg" alt="" />
				  <img src="images/portfolio/6.jpg" alt="" />
				  <img src="images/portfolio/7.jpg" alt="" />
			</div>        
		</div>
	</section>
 </div>





<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="js/jquery.placeholder.min.js"></script>
<script type="text/javascript" src="js/contact_me.js"></script>
<script type="text/javascript" src="js/smooth-scroll.js"></script>
<script type="text/javascript" src="js/main.js"></script>
 </body>
</html>


















