<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<title>Nicolai Robles - Full Stack Engineer + Designer </title>
	<meta name="description" content="" />
	<meta name="author" content="" />
	<link rel="icon" href="images/favicon.ico"/>

	<!-- <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'/> -->
	<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" media="screen"/>
	<link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" media="screen"/>
	<link rel="stylesheet" href="css/animate.css" type="text/css" media="screen"/>
	<link rel="stylesheet" href="css/style.css" type="text/css" media="screen"/>

</head>
<body>

	<div class="inline-menu-container showx">
		<ul class="inline-menu">
			<!-- <li class="portfolio menu-item" style="text-transform: uppercase">Portfolio</li>		 -->
			<li class="fa fa-arrow-left resume" style="text-transform: uppercase; border-right: none"><a class="resume-nav" href="/" target="_blank"> nicolairobles.com</a></li>
			<!-- <li class="contact menu-item" style="text-transform: uppercase">Contact</li> -->
			<li id="close" style="color: white">&times;</li>
		</ul>
	</div>

<div id="project">
	<section class="content" style="background: white">
		<div class="block-content">			
			<div class="project-title">
				<h2>Chorus  |  <span style="text-transform:lowercase; font-family:Times, serif;">April 2016</span></h2>
				<p class="tags">Crowdsource Power</p>
			</div>
			<br>
			<h3>Concept</h3>
			<p class="project-description">Chorus is an early stage start-up, as of 2016, with a mission to provide citizens the power to create and impact community grassroots movements. A key feature of Chorus is to provide elected officials with a FICO-like score to ensure citizens can make informed, data-driven decisions.</p>
			<br>
			<p class="project-description">Visit the demo site <a style="font-weight:bold;" target="_blank" href="http://chorus-home.herokuapp.com">here</a>.</p>

			<div class="project-media">
				  <img src="images/portfolio/chorus-intro.png" alt="" />
			</div>  

			<br>
			<br>
			<h3>Design</h3>

			<p class="project-description">I designed the brand experience, including the logo, the color scheme, and typography. I created a centralized repository for all branding assets at Frontify.com to serve as a style-guide.</p>
			<br>
			<p class="project-description">Visit the style-guide site <a style="font-weight:bold;" target="_blank" href="http://frontify.com/chorus-style-guide">here</a></p>

			

			<div class="project-media">
		  	<img src="images/portfolio/chorus-frontify.png" alt="" />
			</div> 

			<br>
			<br>
			<h3>Coming Soon</h3>

			<p class="project-description">More concept sketches coming soon.</p>

		</div>
	</section>
 </div>





<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="js/jquery.placeholder.min.js"></script>
<script type="text/javascript" src="js/contact_me.js"></script>
<script type="text/javascript" src="js/smooth-scroll.js"></script>
<script type="text/javascript" src="js/main.js"></script>
 </body>
</html>


















