<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<title>Nicolai Robles - Full Stack Engineer + Designer </title>
	<meta name="description" content="" />
	<meta name="author" content="" />
	<link rel="icon" href="images/favicon.ico"/>

	<!-- <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'/> -->
	<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" media="screen"/>
	<link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" media="screen"/>
	<link rel="stylesheet" href="css/animate.css" type="text/css" media="screen"/>
	<link rel="stylesheet" href="css/style.css" type="text/css" media="screen"/>

</head>
<body>

	<div class="inline-menu-container showx">
		<ul class="inline-menu">
			<!-- <li class="portfolio menu-item" style="text-transform: uppercase">Portfolio</li>		 -->
			<li class="fa fa-arrow-left resume" style="text-transform: uppercase; border-right: none"><a class="resume-nav" href="/" target="_blank"> nicolairobles.com</a></li>
			<!-- <li class="contact menu-item" style="text-transform: uppercase">Contact</li> -->
			<li id="close" style="color: white">&times;</li>
		</ul>
	</div>

<div id="project">
	<section class="content" style="background: white">
		<div class="block-content">			
			<div class="project-title">
				<h2>Emergency Compliment |  <span style="text-transform:lowercase; font-family:Times, serif;">Jan 2016</span></h2>
				<p class="tags">Compliment Generator</p>
			</div>
			<br>
			<h3>Concept - Where You Go For a Pick-Me Up</h3>

			<p class="project-description">A simple compliment generator.</p>

			<div class="project-media">
				<h4><a target="_blank" href="http://compliment-generator.herokuapp.com" > LINK: Play here</a></h4>
				  <img src="images/portfolio/compliment-generator/compliment-generator-demo.png" alt="" />
			</div> 
			<br>
			<br>
			<br>
			<h3>Technology</h3>
			<p class="project-description">
				<ul class="fa-ul">
					<li><i class="fa-li fa fa-check-square"></i>Ruby</li>
					<li><i class="fa-li fa fa-check-square"></i>Sinatra Framework</li>
					<li><i class="fa-li fa fa-check-square"></i>Javascript</li>
					<li><i class="fa-li fa fa-check-square"></i>CSS</li>
				</ul>
			</p>

			<br>
			<br>

		</div>
	</section>
 </div>





<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="js/jquery.placeholder.min.js"></script>
<script type="text/javascript" src="js/contact_me.js"></script>
<script type="text/javascript" src="js/smooth-scroll.js"></script>
<script type="text/javascript" src="js/main.js"></script>
 </body>
</html>


















