<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<title>Nicolai Robles - Full Stack Engineer + Designer </title>
	<meta name="description" content="" />
	<meta name="author" content="" />
	<link rel="icon" href="images/favicon.ico"/>

	<!-- <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'/> -->
	<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" media="screen"/>
	<link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" media="screen"/>
	<link rel="stylesheet" href="css/animate.css" type="text/css" media="screen"/>
	<link rel="stylesheet" href="css/style.css" type="text/css" media="screen"/>

</head>
<body>

	<div class="inline-menu-container showx">
		<ul class="inline-menu">
			<!-- <li class="portfolio menu-item" style="text-transform: uppercase">Portfolio</li>		 -->
			<li class="fa fa-arrow-left resume" style="text-transform: uppercase; border-right: none"><a class="resume-nav" href="/" target="_blank"> nicolairobles.com</a></li>
			<!-- <li class="contact menu-item" style="text-transform: uppercase">Contact</li> -->
			<li id="close" style="color: white">&times;</li>
		</ul>
	</div>

<div id="project">
	<section class="content" style="background: white">
		<div class="block-content">			
			<div class="project-title">
				<h2>Emotize  |  <span style="text-transform:lowercase; font-family:Times, serif;">May 2016</span></h2>
				<p class="tags">Level Up Your Speaking</p>
			</div>
			<br>

			<h3>Concept - A Speech Practicing Video App to Help Calibrate Your Emotions</h3>

			<p class="project-description">Emotize is a speech practicing video app created in partnership with Ariel Hauter, Jigar Patel, and Dan Lynn for a General Assembly Product Management Immersive course project. Ariel and Jiggar conceptualized the market potential for Emotize and built the framework for the Emotize business plan. I developed the front-end, back-end, and everything in between.</p>
			<br>
			<br>
			<h3>Technology</h3>

			<p class="project-description">
			<ul class="fa-ul">
				<li><i class="fa-li fa fa-check-square"></i>Microsoft Emotion API</li>
				<li><i class="fa-li fa fa-check-square"></i>Amazon Web Services (AWS)</li>
				<li><i class="fa-li fa fa-check-square"></i>Sidekiq/Redis</li>
				<li><i class="fa-li fa fa-check-square"></i>Paperclip-FFMPEG</li>
				<li><i class="fa-li fa fa-check-square"></i>Ziggeo</li>
				<li><i class="fa-li fa fa-check-square"></i>Rails</li>
			</ul>
			</p>

			<br>
			<br>
			<h3>Challenge - Using the Microsoft Emotion Image API to Process Videos</h3>

			<div class="project-media">
				<h4>Sample Emotional Data Output From A Mark Zuckerberg Video Snippet</h4>
				  <img src="images/portfolio/emotize-sample.png" alt="" />
			</div> 
			<br>
			<br>
			<h3>Coming Soon</h3>

			<p class="project-description">Live link, prototype sketches, code samples, and insight into our challenges coming soon</p>  
		</div>
	</section>
 </div>





<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="js/jquery.placeholder.min.js"></script>
<script type="text/javascript" src="js/contact_me.js"></script>
<script type="text/javascript" src="js/smooth-scroll.js"></script>
<script type="text/javascript" src="js/main.js"></script>
 </body>
</html>


















