/*Imported Roboto font*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,100);

*{
	/*set background color*/
	background-color: black;
	/*Use Roboto throughout; only adjust boldness locally*/
	font-family: "Roboto", "Helvetica", sans-serif;
	color: #FAFAFA;
	/*adjust border sizing*/
	box-sizing: border-box;
	/*align text in center throughout*/
	text-align: center;
}
.opening{
	width: 100%;
	height: 800px;
	background-color: #757575;
	font-weight: lighter;
}
.cage{
	display: inline-block;
	height: 5em;
	border: none;
	border-radius: none;
}
img.opening{
	width: 250px;
	height: 250px;
	min-width: 40vw;
	min-height: 40vw;
	margin: 50px auto 40px auto;
	display: inline-block;
	animation: bounceIn 1s;
}
.button {
	top: 50%;
	left: 50%;
	background-color: black;
	border-radius:28px;
	font-weight: normal;
	/*border: 1px solid white;*/
	display:inline-block;
	color: white;
	padding:20px 55px;
	margin: 5px 5px;
	font-size: 1em;
}
.button:hover {
	background-color: #616161;
	border: solid white 1px;
}
.button:active {
	top: 1px;
}
#game_screen, #body-container, .box, .timer{
	display: none;
}
#body-container{
	width: 600px;
	height: 600px;
	min-width: 350px;
	min-height: 350px;
	margin: 30px auto 15px auto;
}
.timer{
	font-size: 10em;
	animation: bounceIn 1s;
}
	/* 1 a  |  1 b |  1 c 
       2 a  |  2 b |  2 c 
	   3 a  |  3 b |  3 c */
.box{
	color: black;
	text-align: center;
	/*dimensions*/
	width: 33%;
	height: 200px;
	/*float and display*/
	float: left;
	display: inline-block;
	font-size: 0px;
}
.x{
	background-image: url(projects/beat-the-machine/img/x.png);
	background-size: 60%;
	background-repeat: no-repeat;
	background-position: center;
	animation: bounceIn .1s ease-in;
}
.o{
	background-image: url(projects/beat-the-machine/img/o.png);
	background-size: 60%;
	background-repeat: no-repeat;
	background-position: center;
	animation: bounceIn .1s ease-in;
}
/*Styling to create the board's borders*/
.one.a {
	/*borders*/
	border-right: solid white 2px;
	border-bottom: solid white 2px;
}
.one.b {
	/*borders*/
	border-bottom: solid white 2px;
}
.one.c {
	/*borders*/
	border-left: solid white 2px;
	border-bottom: solid white 2px;
}
.two.a {
	/*borders*/
	border-right: solid white 2px;
}
.two.b {
	/*no borders*/
}
.two.c {
	/*no borders*/
	border-left: solid white 2px;
}
.three.a {
	/*borders*/
	border-right: solid white 2px;
	border-top: solid white 2px;
}
.three.b {
	/*no borders*/
	border-top: solid white 2px;
}
.three.c {
	/*borders*/
	border-left: solid white 2px;
	border-top: solid white 2px;
}
.timer{
	display: inline-block;
	padding-top: 50px;
	top: 50%;
	left: 50%;
	font-size: 3.5em;
	font-weight: lighter;
}
/*Animations*/
@keyframes bounceIn {
  0%   {background-size: 50%;, opacity: 1}
  25%  {background-size: 75%;, opacity: 1}
  50%  {background-size: 85%;, opacity: 1}
  75%  {background-size: 80%;, opacity: 1}
  100% {background-size: 75%;, opacity: 1}
}



